@(userList : java.util.List[User])

    @main("Greenbox") {

        <h2>User list</h2>

        <table border = "1">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            @for(user <- userList){
                <tr>
                    <td> @user.getUsername()</td>
                    <td> @user.getEmail()</td>
                    <td> @user.getPassword</td>
                </tr>
            }
        </table>

        <h2>User registration</h2>

            <!-- PRECISA AJEITAR OS <BR>?-->
        <form method ="POST" action = "@routes.HomeController.registerUser()">
            <input type="text" name = "username" placeholder="Username"/><br>
            <input type="text" name = "email" placeholder="Email"/><br>
            <input type="text" name = "password" placeholder="Password"/><br>
            <button type="submit"> Register </button>
        </form>
    }
