@(userList : List[User])

    @main("Greenbox") {
        <div align="center" class="well" style="background-color: #96ff7f;">
            <h1><big>GreenBox</big></h1>
        </div>

        <div align="center">
            <h4>Use your GreenBox account</h4>
        </div>

            <!-- PRECISA AJEITAR OS <BR>?-->
        <form name="Login" >
            <div align="center">
                <input type="text" name="email" placeholder="Email Address"/><br>
                <input type="password" name="password" placeholder="Password"/><br>
                <button type="submit"> Login </button>
            </div>
        </form>

        <form name="Register" method ="GET" action="@routes.HomeController.register()">
            <div align="center">
                <button type="submit"> Register </button>
            </div>
        </form>

    <h2>User list</h2>

    <table border = "2">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        @for(user <- userList){
            <tr>
                <td>@user.getUsername()</td>
                <td>@user.getEmail()</td>
                <td>@user.getPassword()</td>
            </tr>
        }
    </table>

}
